.jumbotron {
  background: url("../img/vegetables.jpg");
  background-size: cover;
  color: rgba(255, 255, 255);
  height:1000px;
}

.inner {
  background: rgba(110, 110, 110, 0.75);
  padding: 75px;
}

.completedGreenTaskButton {
  background-color: white;
  color: green;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #4CAF50;
}

.completedGreenTaskButton:hover {
  background-color: #4CAF50;
  color: white;
}

.redText {
color: red;
}

.centeredRedText {
color: red;
text-align: center;
}