.jumbotron {
  background: url("../img/vegetables.jpg");
  background-size: cover;
  color: rgba(255, 255, 255);
  height: 1200px;
}

.inner {
  background: rgba(110, 110, 110, 0.75);
  padding: 75px;
}

.banner {
    background: url("../img/border_vegetables.jpg");
    background-size: cover;
    height: 200px;
    padding: 70px 0;
    text-align: center;
    color: white;
}

.card {
    width: 400px;
}

.completedGreenTaskButton {
  background-color: white;
  color: green;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #4CAF50;
}

.completedGreenTaskButton:hover {
  background-color: #4CAF50;
  color: white;
}

.redText {
color: red;
}

.centeredRedText {
color: red;
text-align: center;
}

.image-addPlants {
    height: 500px;
    width: 300px;
}

.msg-header {
    width: 150px;
}

.new-message {
    display: none;
}

.message {
    background-color: #ececec;
    border-radius: 15px;
    margin-bottom: 15px;
    padding: 10px;

}

#message-error {
    display: none;
}

#new-messages-alert {
    display: none;
    text-align: center;
}

#harvestDiv {
    display: none;
    padding: 20px;
}

.harvestButton {
    float: right;
}

.ajax-link:hover {
    cursor: pointer;
}


.grid-stack {
    margin-left: -10px;
    margin-right: -10px;
}

.grid-stack-item {
}

#garden-grid {
    background-color: rgba(80, 53, 35, 1);
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

.grid-stack-item-content {
    background-color: green;
    color: white;
    padding: 3px;
    text-align: center;
    border-radius: 8px;
}

.vertical-align-grid-icon {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.vertical-align-grid-icon img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-fit: contain;
}

#plannedPlants {
    display: none;
}

.newPlantContainer {
}

.newPlantContainer img {
  max-height: 50px;
  max-width: 50px;
  object-fit: cover;
}

.plant-modal-header {
}

.plant-modal-image img {
  max-width: 100%;
  object-fit: cover;
}

.footer {
    margin-top: 30px;
    padding: 10px;
    height: 200px;
    text-align: center;
    border-top: 1px #ececec solid;
    color: #cccccc;
}






